<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'content\style.css' %}">
    <title>Document</title>

    <script type="text/javascript">
        MathJax = {
            loader: {load: ['input/asciimath', 'output/chtml']},
            asciimath: {
                delimiters: [['`', '`']]  // Default delimiters for AsciiMath
            }
        };
    </script>
    <script type="text/javascript" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
    </script>

<style>
.navbar {
    overflow: hidden;
    background-color: azure;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 3;
    
    box-shadow: 0 4px 10px #0000001a;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #e62bf0;
    text-align: center;
    padding: 1.6%;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

/* Change background on mouse-over */
.navbar a:hover {
    background: whitesmoke;
    color: black;
    box-shadow: none;
}
span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    position: relative;

}
</style>
</head>

<body id="bdy"style="height: 100%;">
    {% load static %}
    <div id="bar" class="navbar" style="z-index: 3;box-shadow: 0 4px 10px #0000001a;">
        <a href="{% url 'content:main' %}">home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log Out</a>
        <a onclick="invert()">invert colors</a>
        <a style="color: aquamarine; float: right; margin-right: 20px;">Q~score  {{score}} </a>         
        <script>
            var isAuthenticated = true;
        </script>			
        {% else %}
        <a href="{% url 'login' %}" style="color: aquamarine; ">Q~score  {{score}} </a>  
        <a href="{% url 'register' %}">Sign Up</a>
        <a href="{% url 'login' %}">Log In</p></a>    
        <a id="invert">invert colors</a>
        <script>
            var isAuthenticated = false;
        </script>            
        {% endif %}           
    </div>  
   <div class="gr" style=" margin-top: 9vw;  display: grid;grid-template-columns: 1fr 4fr 1fr;grid-template-rows: repeat(3, 100px);gap: 10px;grid-template-areas:'sidebar1 content sidebar2';">
    <div style="grid-area: sidebar1;z-index: 1;"></div>
    <div style="grid-area: content;">

        
        <div>
            <div id="contentdiv"></div>
            <h2 id="trigger-element" style="margin-top: 100px;">chater contents</h2>
        </div>
    </div>
    <div id="popup" style="display: none;margin-left: 10%;grid-area: sidebar2; z-index: 1;">
        <p id="maxvalue" style="display: none;">{{max}}</p>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">            
    </div>
</div>
  
</body>
<script>
  u = 0
  nu=0
  nuu=0
  po=150
  li_num=1
  chap_check=-1
  ran_check=-1
  img_num = 1
  x=null
  invert_colr = true

  
  document.getElementById("trigger-element").addEventListener("click", function() {
    document.getElementById("trigger-element").innerHTML="Load More"
    document.getElementById("popup").style.display = "inline-block";
    var myList = JSON.parse('{{ max|escapejs }}');
    console.log(myList);
   
    if(myList.length>nu){
        q = myList[nu]
        console.log(nu, "manfdan")
        if(q.includes("&image&")){
            console.log("alfred jeson")
            neww = q.split("&image&")
            var newElement = document.createElement("span");
            newElement.innerHTML=neww[u]
            newElement.style="white-space: pre-line"
            newElement.id="a"+ nuu 
            u++
            nuu++
            console.log(neww)
            document.getElementById("contentdiv").appendChild(newElement);     
            let image_name = localStorage.getItem("name");       
            for(;u<neww.length;u++, nuu++, img_num++){
                console.log("alfred jeson kaaaa")
                var neElement = document.createElement("img");
                //neElement.innerHTML = image_name+ img_num                                 
                neElement.src = "../../static/content/"+image_name+img_num+".png"
                neElement.style = "height:200px; width:300px"
                console.log(newElement.src+"alfrewgregwergwege")
                document.getElementById("contentdiv").appendChild(neElement);   
                var newElement = document.createElement("span");
                newElement.innerHTML=neww[u]
                newElement.style="white-space: pre-line; font-size: 2vw;   animation-name: flyin;animation-duration: 3s;  animation-delay: 2s;animation-fill-mode: backwards;     "
                console.log(u, neww[u], "aspertos", neww.length)
                newElement.id="a"+ nuu 
                var style = document.createElement('style');
                style.innerHTML = " @keyframes flyin {from {top: 200px;}to {top: 0px;}}"     
                // Append the <style> element to the document head
                document.head.appendChild(style);                   
                document.getElementById("contentdiv").appendChild(newElement);

            
            } 
            u=0 
        }else{
            console.log("kulfi", nu)
            var newElement = document.createElement("span");
            newElement.innerHTML=q
            newElement.style="white-space: pre-line;"
            newElement.id="a"+nuu
        }


        //newElement.style="display: block;background: url(../static/content/heat/heat"+ CSS.escape(nu) +".png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:875px; width: 700px;"
        document.getElementById("contentdiv").appendChild(newElement);
        //document.getElementById("joke").innerHTML = "`x = (-b +- sqrt(b^2 - 4ac))/(2a)`"

        window.scrollBy({
                top: 600, // Adjust this value to scroll more or less
                behavior: 'smooth'
            });
        quest = ["check out these questions", "lost motive!! try these", "bulid confidence with these questions", "feel like you can't click me", "Wanan test yourself", "push betond time limits", "July"];
        if (isAuthenticated){
           quest_chap="{{cate}}"
        }else{
            quest_chap=["phyiscs", "chemistry", "maths"]
        }
        for( j=1; j<4 ; j++, li_num++, po=po+150){
            randomIndex = Math.floor(Math.random() * quest.length);
            ranquest = quest[randomIndex];
            console.log(randomIndex,ran_check,"frejuife")
            if(randomIndex==ran_check){
                console.log("alfred")
                randomIndex = Math.floor(Math.random() * quest.length);
                ranquest = quest[randomIndex];
            
                ran_check=randomIndex
                console.log(ran_check,"frefe")
            }
            ran_check=randomIndex
            
            randomIndex_chap = Math.floor(Math.random() * quest_chap.length);
            ranquest_chap = quest_chap[randomIndex_chap];
            //console.log(randomIndex,ran_check,"frejuife")
            if(randomIndex_chap==chap_check){
                console.log("alfred")
                randomIndex_chap = Math.floor(Math.random() * quest_chap.length);
                ranquest_chap = quest_chap[randomIndex_chap];
            
                chap_check=randomIndex_chap
                //console.log(ran_check,"frefe")
            }
            chap_check=randomIndex_chap
            final = ranquest+ " "+ ranquest_chap
            console .log(final ,"alfred")
            var newElement = document.createElement("form");
            //x="Gfag"
            newElement.action="{% url 'exam:exam' %}"
            newElement.method="GET"
            newElement.id="link"+li_num
            newElement.style="position: relative; top:"+ po +"px;   animation-name: example"+li_num+"; animation-duration: 4s;";
            document.getElementById("popup").appendChild(newElement);
            var style = document.createElement('style');
            style.innerHTML = " @keyframes example"+li_num+" {0%   {background-color:none; left:200px; top:"+ po +"px;}100% {background-color:none; left:0px; top:"+ po +"px;}}"     
            // Append the <style> element to the document head
            document.head.appendChild(style);   
            console.log(x, "aklfredc")
            var newElement = document.createElement("input");
            newElement.type="hidden"
            newElement.name="subject"
            newElement.value=x
            document.getElementById("link"+li_num).appendChild(newElement);
            var newElement = document.createElement("button");
            newElement.type="submit"
            newElement.style="border-radius: 10px; border-width: thick; border-color: darkcyan; color: darkcyan; font-size: 2vw; ";
            newElement.onclick=function() {extractq(this.innerHTML)};
            newElement.innerHTML=final;
            document.getElementById("link"+li_num).appendChild(newElement);
            }
        
        MathJax.typeset();   
        console.log("patyi", myList.length, nu)
    }else{
        document.getElementById("trigger-element").innerHTML="congrats you finished the chapter"
    }
    nu=nu+1; 
    nuu=nuu+1
    console.log(po,"afreeeeeeee")
    
  });
  //document.getElementById("trigger-element").click()

  function sendDataToDjango(x) {
    var data = {
        subject: x,
        csrfmiddlewaretoken: document.querySelector('[name=csrfmiddlewaretoken]').value
    };
    console.log("innn")
    fetch('http://127.0.0.1:8000/content/al/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': data.csrfmiddlewaretoken
        },
        body: JSON.stringify(data)
    })
}

document.getElementById("invert").addEventListener("click", function() {
    if(invert_colr){
        document.getElementById("bdy").style = "background-color:rgb(24, 22, 22); color: white;"
        document.getElementById("invert").style = "black"
        document.getElementById("bar").style.backgroundColor = "rgb(24, 22, 22)"
        document.getElementById("bar").style.boxShadow = "0 4px 10px #fff8f8"
        invert_colr= false
    }else{
        document.getElementById("bdy").style = "background-color; white; color: black;"
        document.getElementById("invert").style.ba = "white"
        document.getElementById("bar").style.backgroundColor = "azure"
        document.getElementById("bar").style.boxShadow = "0 4px 10px #0000001a"
        invert_colr= true
    }      
            
        });


 function extractq(value){
    alert("fetching questions")
    for (let item of quest) {
        console.log(item , value);
        if (value.includes(item)){
        x=value.replace(item, "")
        console.log(x, "Gsgs") 
        sendDataToDjango(x)
        document.querySelector('input').value=x
        return x
    }
    
    }
    console.log("success")
    //console.log(document.getElementById("test").innerHTML);
    //diction=document.getElementById("test").innerHTML;
    //diction=diction.split("', '");
    //console.log(diction[3]);
    //localStorage.setItem("diction", diction);
}
isAuthenticated
</script>
</html>